//- create by afterloe on 2017-2-9 18:23:10 - MIT

include header

div(class="container-fluid" style="{float: none;display: block;margin-left: auto;margin-right: auto;}")
  div(class="jumbotron")
    p(class="lead") There is nothing here
    hr(class="my-4")
    p No web page for this address
    small 404 Error
    p(class="lead")
      a(class="btn btn-outline-success" href="#" role="button") back

      a(class="btn btn-outline-danger" href="#" role="button") homePage

include footer
