//- create by afterloe on 2017-2-14 14:58:37 - MIT

include header

link(href= static + "css/portal/mask.css?time=" + __time rel="stylesheet")
link(href= static + "css/portal/ad/home.css?time=" + __time rel="stylesheet")

div(class="container content")
  div(class="container structure")
    span(class="portalWhete")
    div(style="text-align:center;margin-top:2rem;")
      h1 🚧 施工中...
include footer

script(src= static + "js/portal/rem.js?time=" + __time)
//- script(src= static + "js/portal/bin/ad/home.js?time=" + __time)
