//- create by afterloe on 2017-2-15 11:29:13 - MIT

include header

link(href= static + "css/portal/directory.css" rel="stylesheet")
link(href= static + "css/portal/mask.css" rel="stylesheet")

div(class="popup")
  div(class="mask")
    div(class="box")
      header
        span My Research V1.1 输出资料
        span(class="btn_close")
      form(action="" class="form")
        div(class="file")
          span 上传文件为定位、价值、关键特性、路标、原型等资料
          span
            input(type="file" placeholder="" id="source")
            input(type="button" value="上传文档" id="uploadFile")
        div(class="description")
          ul(class="dataFile")
        div(class="last")
          span 上传人：
          span
            input(type="text" placeholder="输入姓名")
          span
            button(class="submit_re") 开始上传

div(class="container directory_content")
  div(class="proposal")
  div(class="tab_process")
    dl(class="processActive")
      dt
        a(href="javascript:void(0);" class="tabIcon")
        span 产品规划
      dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
      div(class="clear")
    dl
      dt
        a(href="javascript:void(0);" class="tabIcon")
        span 产品设计
      dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
      div(class="clear")
    dl
      dt
        a(href="javascript:void(0);" class="tabIcon")
        span 产品设计
      dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
      div(class="clear")
    dl
      dt
        a(href="javascript:void(0);" class="tabIcon")
        span 产品设计
      dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
      div(class="clear")

  div(class="tab_content")
    div(class="dataBox")
      div(class="header") 产品规划辅助资料
        span(class="upload")
      ul(class="data")
        li
          div
            i
            span(class="name") My Research 的产品定位.PPT
            span(class="time") 2017-01-25
            span 17:05:36
            span afterloe
            span(class="download")
            span(class="dataClose")
include footer

script(src= static + "js/portal/rem.js")
script(src= static + "js/portal/directory.js")
