//- create by afterloe on 2017-3-9 17:45:13 - MIT

include header

link(href= static + "css/portal/mask.css?time=" + __time rel="stylesheet")
//- link(href= static + "css/portal/discussesInfo.css?time=" + __time rel="stylesheet")

style.
  .alert{margin-bottom:0}
  .structure {background-color: #ffffff;}
  .catalogShadow{height:2.5em;background-color: #eee; position:relative; margin-left:15px; margin-right:15px;}
  .catalogMark{float:left; margin-top:-0.7em; height:1.4em; width:1.4em; background-color: #ccc; }

  .number{position: inherit; float: right; margin-top: -0.5em; margin-right: -0.5em;}
  .badge {background-color:#e22d2d}

  .downButton{display: block; cursor:pointer; float: right; border-bottom: 1px solid #333; border-right: 1px solid #333; width: 0.8em; height: 0.8em;}
  ul{margin-bottom:0;}
  ul, ul li {list-style: none;}

  .breadcrumb>li+li:before {content: ">";}
  .breadcrumb {background-color: rgb(255, 255, 255);}
  a:hover{text-decoration: none;}

  @media (min-width:769px) {
    .container .structure {min-height: 600px;}
    .portalWhete {display: -webkit-box; height: 0.5em;}
    .mainDiscusses {margin-left: 0.3rem;}
    .discussHeader .userAvatar {display: inline-block; width: 0.61rem; height: 0.61rem; background: url('http://120.76.75.179/service/appresource/images/weipiaoer.png') no-repeat center; background-size:contain;}
    .discussHeader .userName {display: inline-block; font-size: 0.2rem; vertical-align: super; margin-left: 0.1rem; margin-bottom: 0.1rem;}
    .discussContent {font-size: 0.18rem; margin-bottom: 0.1rem;}
    .discussFooter {margin-right: 0.1rem;color: #9d9d9d;cursor: default;}
    .discussFooter .discussInfo {display: inline-block; float: right;}
    .discussFooter .discussOption {display: inline-block; float: right;}
    .discussInfo {margin-right: 0.05rem}
    .discussInfo span {padding-right: 0.03rem}
    .discussOption span {cursor:pointer; padding-left: 0.03rem}
  }

  @media (max-width:768px) {
    .container .structure {min-height: 450px;}
    .portalWhete {display: -webkit-box; height: 0.5em;}
    .mainDiscusses {margin-left: 0.3rem;}
    .discussHeader .userName {display: inline-block; font-size: 0.3rem; font-weight: 400; vertical-align: super; margin-bottom: 0.1rem;}
    .discussContent {font-size: 0.22rem; margin-bottom: 0.1rem;color: #555}
    .discussFooter {margin-right: 0.1rem;color: #9d9d9d;cursor: default;}
    .discussFooter .discussInfo {display: inline-block; float: left;}
    .discussFooter .discussOption {display: inline-block; float: right;}
    .discussInfo {margin-right: 0.05rem}
    .discussInfo span {padding-right: 0.03rem}
    .discussOption span {cursor:pointer; padding-left: 0.2rem}
  }

div(class="container content")
  div(class="container structure")
    span(class="portalWhete")

    ol(class="breadcrumb")
      li
        a(href="/discuss/50/1") 全部讨论
      li(class="active")
        a(href="#") 那我来试试如...

    div(class="mainDiscusses")
      div(class="discussHeader")
        span(class="userAvatar")
        span(class="userName") per(per@plmchina.net)
      div(class="discussContent") 那我来试试如果字符长度大雨10会怎么养呢个？好饱
      div(class="discussFooter")
        div(class="discussOption")
          span 点赞
          span 评论
        div(class="discussInfo")
          span 2017-3-9 17:29:41
          span 阅读量(2)


include footer

script(src= static + "js/portal/rem.js?time=" + __time)
//- script(src= static + "js/portal/bin/discussesInfo.js?time=" + __time)
