//- create by afterloe on 2017-1-15 21:58:16 - MIT

footer(class="footer")
  div(class="copyright")
    div(class="container")
      p 版权所有 &copy; 2017.杰为软件系统(深圳有限公司).

script(src= static + "js/portal/jquery-2.1.1.js")
script(src= static + "js/portal/bootstrap.min.js")
