//- create by afterloe on 2017-1-15 21:58:16 - MIT

footer
  div(class="copyright")
    div(class="container")
      div(class="container")
        div(class="row")
          div(class="col-md-8")
            p JW 2017

script(src= static + "js/jquery-2.1.1.js")
script(src= static + "js/masonry.pkgd.min.js")
script(src= static + "js/jquery.flexslider-min.js")
script(src= static + "js/main.js")
script(src= static + "js/bootstrap.min.js")
script(src= static + "js/agency.js")
script(src= static + "js/jquery.easing.min.js")
script(src= static + "js/classie.js")
script(src= static + "js/cbpAnimatedHeader.js")
