//- create by afterloe on 2017-2-14 14:58:37 - MIT

include header

- const _systemNotice = locals.systemNotice || {};

//- link(href= static + "css/portal/home.css?time=" + __time rel="stylesheet")
style.
  .alert{margin-bottom:0}
  .structure {background-color: #ffffff;}
  .catalogShadow{height:2.5em;background-color: #eee; position:relative; margin-left:15px; margin-right:15px;}
  .catalogMark{float:left; margin-top:-0.7em; height:1.4em; width:1.4em; background-color: #ccc; }

  .portalWhete {display: -webkit-box; height: 2em; font-size: 2em; margin-left: 1em;}
  .title {font-size: 2rem; font-weight: 400;}
  .catalogShadow .title {padding: 0.3rem 0 0.3rem 1rem;}
  .number{position: inherit; float: right; margin-top: -0.5em; margin-right: -0.5em;}
  .badge {background-color:#e22d2d}
  .mainBox{vertical-align: top; display:inline-block; width:61%}
  .helpBox{display:inline-block;width:39%}
  .downButton{display: block; cursor:pointer; float: right; border-bottom: 1px solid #333; border-right: 1px solid #333; width: 0.8em; height: 0.8em;}
  .down{transform: rotate(45deg);}
  .up{transform: rotate(225deg); margin-top: 1rem;}
  @media (min-width:769px) {
  }
  @media (max-width:768px) {
  }

if _systemNotice.msg
  div(class="alert alert-danger" role="alert")
    strong 通知: 系统将重启

div(class="container content")
  div(class="container structure")
    span(class="portalWhete")

    div(class="mainBox")
      div(class="catalogShadow")
        span(class="badge number") 2
        div(class="title")
          span 公告
          span(class="downButton down")

    div(class="helpBox")
      div(class="catalogShadow")
        span(class="badge number") 2
        div(class="title")
          span 公告
          span(class="downButton up")
      div(class="catalogShadow")
        span(class="badge number") 2
        div(class="title")
          span 公告
          span(class="downButton up")
      div(class="catalogShadow")
        span(class="badge number") 2
        div(class="title")
          span 公告
          span(class="downButton up")

include footer

script.
  ($ => {
    $(() => {
      $(".downButton").bind("click", function(){
          const __self = $(this);
          const className = __self.hasClass("down") ? "up":"down";
          __self.attr("class","");
          __self.attr("class", `downButton ${className}`);
      });
    });
  })(jQuery);

//- script(src= static + "js/portal/bin/home.js?time=" + __time)
