//- create by afterloe on 2017-2-14 10:53:52 - MIT

- const __time = locals.systemVersion || "";
- const __href = locals.href || "/portal/home";

doctype html
html(lang="en")
  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title #{title}
    link(href= static + "css/portal/bootstrap.min.css" rel="stylesheet")
    link(href= static + "css/portal/login.css?time=" + __time rel="stylesheet")
    link(href= static + "font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")

  body
    #wrap
      div(class="container login_center")
        div(class="row")
          div(class="col-xs-12 col-sm-12 col-md-12")
            img(src= static + "images/portal/loginLogo.png" alt="")
      div(class="container container_login")
        div(class="form-horizontal form_login" id="fm" data-href=__href)
          div(class="form-group")
            div(class="col-md-12 col-sm-12 col-sm-12 radius")
              input(type="email" id="userName" aria-describedby="emailHelp" placeholder="请输入邮箱" autocomplete="off")
          div(class="error")
            span(style="display: none;" id="error") 错误提示语
          div(class="form-group")
            div(class="col-md-12 col-sm-12 col-sm-12 radius")
              input(type="password" id="userPassword" placeholder="请输入密码" autocomplete="off" name="password")
          div(class="form-group")
            div(class="col-md-12 col-sm-12 col-sm-12")
              small(form-text text-muted)
                a(href="#" class="pull-right" onClick="javascript:forgetPassword();") 发送密码到邮箱
          div(class="form-group")
            div(onClick="javascript:loginSystem(this);" class="col-md-12 col-sm-12 col-sm-12 radius last")
              #btn

      div(class="modal fade" id="loginInfoBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-sm" role="document")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
                span(class="sr-only") Close
              h4(class="modal-title") JWI Portal
            div(class="modal-body")
            div(class="modal-footer")
              button(type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal") 关闭

  script(src= static + "js/portal/jquery-2.1.1.js")
  script(src= static + "js/portal/bootstrap.min.js")
  script(src= static + "js/portal/rem.js?time=" + __time)
  script(src= static + "js/portal/bin/login.js?time=" + __time)
