//- create by afterloe on 2017-3-9 22:10:12 - MIT

include header

link(href= static + "css/portal/mask.css?time=" + __time rel="stylesheet")
link(href= static + "css/portal/noticeList.css?time=" + __time rel="stylesheet")

div(class="container content")
  div(class="container structure")
    span(class="portalWhete")

include footer

script(src= static + "js/portal/rem.js?time=" + __time)
//- script(src= static + "js/portal/bin/noticeList.js?time=" + __time)
