//- create by afterloe on 2017-2-14 14:58:37 - MIT
include header

link(href= static + "css/portal/mask.css?time=" + __time rel="stylesheet")
//- link(href= static + "css/portal/ps/home.css?time=" + __time rel="stylesheet")

style.
  .alert{margin-bottom:0}
  .structure {background-color: #ffffff;}
  .catalogShadow{height:2.5em;background-color: #eee; position:relative; margin-left:15px; margin-right:15px;}
  .catalogMark{float:left; margin-top:-0.7em; height:1.4em; width:1.4em; background-color: #ccc; }

  .number{position: inherit; float: right; margin-top: -0.5em; margin-right: -0.5em;}
  .badge {background-color:#e22d2d}

  .downButton{display: block; cursor:pointer; float: right; border-bottom: 1px solid #333; border-right: 1px solid #333; width: 0.8em; height: 0.8em;}
  ul{margin-bottom:0;}
  ul, ul li {list-style: none;}

  @media (min-width:769px) {
    .container .structure {min-height: 600px;}
    .portalWhete {display: -webkit-box; height: 0.5em; font-size: 2em;}
  }

  @media (max-width:768px) {
    .container .structure {min-height: 450px;}
  }

div(class="container content")
  div(class="container structure")
    span(class="portalWhete")

include footer

script(src= static + "js/portal/rem.js?time=" + __time)
//- script(src= static + "js/portal/bin/ps/home.js?time=" + __time)
