//- create by afterloe on 2017-2-9 13:56:31 - MIT
div(class="container-fluid")
  div(class="jumbotron")
    p(class="lead") 您于 #{time} 申请找回密码
    hr(class="my-4")
    p 您的新密码为:
      h3 #{permit}
    small *请妥善保管该邮件，如果遗忘可以重新找回密码。
    p(class="lead")
      a(class="btn btn-primary" href="http://rd.jwis.cn/portal/login" role="button") 登录
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
