//- create by afterloe on 2017-3-2 10:24:10 - MIT

include header

link(href= static + "css/portal/platform.css?time=" + __time rel="stylesheet")
//- link(href= static + "css/portal/workflowInfo.css?time=" + __time rel="stylesheet")

style.
  @media (min-width:769px) {
    .change {
        display: inline-block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        float: right;
    }

    .data li div span.local {
      width: 650px;
    }
  }

  @media (max-width:768px) {
    .change {
      display: inline-block;
      width: 38px;
      height: 35px;
      cursor: pointer;
      float: right;
    }
  }

  .svn {
      background: url(http://almcloud.jwis.cn/images/portal/productTestStatus2.png) no-repeat center;
  }

  .cloud {
      background: url(http://almcloud.jwis.cn/images/portal/productTestStatus4.png) no-repeat center;
  }

div(class="container platform_content")
  div(class="content_one")
    div(class="tru")
      div(class="truTitle pc") JWI 雨水项目 详情
      div(class="truContent")
        div(class="truBox")
          div 立项时间
          ul
            li(data-id="456")
              span(class="aLink") 2017年7月1日
        div(class="truBox")
          div 项目负责人
          ul
            li(data-id="456")
              span(class="aLink") 林俊杰
        div(class="truBox")
          div 参与人员
          ul
            li(data-id="456")
              span(class="aLink") 周杰伦
            li(data-id="456")
              span(class="aLink") 蔡依林

  div(class="proposal")

  div(class="wrapper")
    div(class="tab_process")
      dl(class= "processActive")
        dt(data-id="123")
          a(href="javascript:void(0);" class="tabIcon tabIcon_plan")
          span 研发
        dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
        div(class="clear")
      dl(class)
        dt(data-id="123")
          a(href="javascript:void(0);" class="tabIcon tabIcon_plan")
          span 测试
        dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
        div(class="clear")
      dl(class)
        dt(data-id="123")
          a(href="javascript:void(0);" class="tabIcon tabIcon_plan")
          span 研究
        dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
        div(class="clear")
      dl(class)
        dt(data-id="123")
          a(href="javascript:void(0);" class="tabIcon tabIcon_plan")
          span 发布
        dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
        div(class="clear")
    div(class="tab_content")
      div(class="dataBox")
        div(class="header")
          span(class="data_title") 节点信息
        ul(class="data")
          li
            div
              i
              span(class="name") 节点名
              span(class="local") 研发
          li
            div
              i
              span(class="name") 该节点负责人
              span(class="local") 李易峰 (yifeng.li@jwis.cn)
          li
            div
              i
              span(class="name") 进入节点时间
              span(class="local") 2017/3/2 下午3:20:48
          li
            div
              i
              span(class="name") 节点更新次数
              span(class="local") 38
        div(class="header")
          span(class="data_title") 资料仓库
          span(class="change cloud")
        ul(class="data")
          li
            div
              i
              span(class="name") svn地址
              span(class="local")
                a(href="http://192.168.1.205:82/svn/TRU_DOC/项目文档/7.资源管理/产品管理组/") http://192.168.1.205:82/svn/TRU_DOC/项目文档/7.资源管理/产品管理组/

include footer

script(src= static + "js/portal/rem.js?time=" + __time)
//- script(src= static + "js/portal/bin/workflowInfo.js?time=" + __time)

script.

  $(function() {
      //进入该页面，content_one从上往下运动
      const width = $(window).width();
      if (width > 768) {
          var contentOne = $(".content_one").height();
          var height = -contentOne;
          $(".content_one").css("margin-top", height);
          $(".content_one").animate({
              "margin-top": 0
          }, 1000, function() {
              $(".content_one").css("margin-top", 0);
          });
      } else {
          $(".content_one").css("margin-top", 0);
      }
  });

  // 点击反馈跳转到bbs
  $(".proposal").bind("click", function() {
      window.open("http://bbs.jwis.cn/forum.php?mod=forumdisplay&fid=37");
  });
