* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,ul li{list-style:none;}
a{text-decoration: none;}
input{border:0;}
@media (min-width: 992px){

	.error{width:80.666%}
}
@media (min-width: 768px){

	.error{width:81.333%;}
}
@media (min-width:769px){
	body{font-family: "微软雅黑";font-size:14px;}
	.wrap{background:url(../images/bg.png) no-repeat center;width:100%;background-size:cover;}
	.login_center{text-align: center;padding-top:150px;}
	.img-responsive{margin:0 auto;}
	.container_login {padding-top: 10px;}
	.form_login {height: 250px;width: 420px;margin: 0 auto;padding:50px;
	}
	#userName,#userPassword{display: inline-block;width:100%;border: 0;color:#666;font-size:16px;height:37px;line-height: 40px;font-weight:500;font-family: "微软雅黑";outline: none;text-align: center;}
	.radius{border-radius: 5px;background-color:#fff;height:40px;border: 1px solid #dbdbdb;}
	.form-group:nth-child(1){margin-bottom:0px;}
	.form-group:nth-child(2){margin-bottom:30px;}
	#btn{width:350px;height:50px;border:none;background:url(../images/login.png) no-repeat center;margin-left:-15px;}
	#btn:hover{background:url(../images/login-selected.png) no-repeat center;}

	.error{height:35px;line-height:35px;margin-bottom:5px;text-align: left;margin-left:0;}
	.error span{color:#dc3e13;display: inline-block;line-height: 35px;background:url(../images/error.png) no-repeat left;padding-left:20px;display: block;height:35px;}

}

@media (max-width:768px){
	html{width:100%;height:100%;overflow:hidden;}
	html body{width:100%;height:100%;font-size:0.24rem;overflow:hidden;}
	.wrap{width:100%;height:100%;overflow:hidden;background:url(../images/19.png) no-repeat center;background-size:100% 100%;}
	.container {padding-right: 0;padding-left: 0;margin-right:0;margin-left: 0;}
	.login_center{height:14%;margin-left:0;margin-right:0;margin-top:25%;text-align: center;}
	.login_center .row{height:100%;}
	.login_center .row div{height:100%;}
	.login_center .row div img{display: inline-block;height:100%;}
	.container_login{height:40%;width:100%;margin-top:10%;position: relative;}
	.form_login{position: absolute;top:0;left:0;right:0;bottom:0;width:90%;height:95%;margin:auto;}
	.form-group{width:98%;}
	.radius{border-radius: 0.2rem;background-color:#fff;height:0.8rem;border: 0.04rem solid #dbdbdb;width:100%;box-sizing: border-box;margin-left:4.5%;}
	.error{margin-left:3%;height:0.5rem;line-height:0.5rem;margin-bottom:0.05rem;text-align: left;}
	.error span{color:#dc3e13;display: inline-block;background:url(../images/error.png) no-repeat left;padding-left:0.3rem;display: block;}
	.form-group:nth-child(1){margin-top:0.2rem;margin-bottom:0;}
	.form-group:nth-child(2){margin-bottom:0.6rem;}
	#userName,#userPassword{display: inline-block;width:100%;border: 0;color:#666;height:0.37rem;line-height: 0.37rem;font-weight:500;font-family: "微软雅黑";outline: none;text-align: center;height:100%;font-size: 0.28rem;}
	.last{margin-top:0.4rem;background:none;background:url(../images/login.png) no-repeat center;background-size:cover;}
	
	.last:hover{background:url(../images/login-selected.png) no-repeat center;background-size:cover;}
	input{border:0;}

}
