* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,ul li{list-style:none;}
a{text-decoration: none;}
input{border:0;}
@media (min-width:769px){
	
    .container {padding-right:0; padding-left:0;margin-right: auto;margin-left: auto;
    }
	.platform_content{background:#fff;min-width:1170px;padding-bottom:125px;}
	.content_one{margin-left:140px;overflow: hidden;min-width:860px;background:#f2f2f2;float:left;border-radius: 5px;}
    .truPC,.truAndroid{padding:0px;width:810px;margin:0 auto;}
	.truPC div.pcTitle{border-bottom:1px solid #dbdbdb;height:49px;line-height: 65px;background:url(../images/pc.png) no-repeat left 20px;padding-left:30px;color:#333333;font-weight:600;font-size:18px;}
    .truAndroid div.androidTitle{border-bottom:1px solid #dbdbdb;height:49px;line-height: 65px;background:url(../images/sj.png) no-repeat left 20px;padding-left:30px;color:#333333;font-weight:600;font-size:18px;}
    .pc_content,.android_content{width:810px;overflow: hidden;}
    .pc_content .pcBox,.android_content .androidBox{padding-left:10px;width:800px;overflow: hidden;}
    .pc_content .pcBox:first-child,.android_content .androidBox:first-child{margin-top:10px;}
    .pc_content .pcBox div,.pc_content .pcBox ul,.android_content .androidBox div,.android_content .androidBox ul{float:left;}
    .pc_content .pcBox div,.android_content .androidBox div{width:90px;font-size:16px;font-weight:600;color:#333;}
    .pc_content .pcBox ul,.android_content .androidBox ul{width:640px;overflow: hidden;}
    .pc_content .pcBox ul li,.android_content .androidBox ul li{overflow: hidden;float:left;height:25px;margin-bottom:10px;}
    .pc_content .pcBox ul li span,.android_content .androidBox ul li span{float:left;display: inline-block;padding:0 13px;color:#333;text-decoration: none;line-height: 30px;cursor: pointer;}
    .pc_content .pcBox ul li span:hover,.android_content .androidBox ul li span:hover{color:#3d9bff;}
    .pc_content .pcBox ul li span.activeLink{color:#00a1df;}
    
    .proposal{background:url(../images/1-default.png) no-repeat center;width:140px;height:40px;float:right;margin-top:15px;cursor: pointer;margin-right:5px;}
    .proposal:hover{background:url(../images/2-selected.png) no-repeat center;}
	.wrapper{padding-top:50px;margin-left:140px;margin-right:140px;overflow: hidden;width:860px;}
	.wrapper .nav{width:100%;float:left;height:120px;}
	.wrapper .nav-tabs {border-bottom:0; padding-top: 10px;
    padding-left: 5px;margin-left:15px;}
    
	.wrapper .nav-tabs > li {float:left;height:120px;cursor: pointer;width:187px;}
	.wrapper .nav-tabs > li>div.same {height: 70px;color: #94defb;
    font-weight: 600;font-size: 24px;margin-right: 3px;width: 187px;cursor:pointer;}
	.wrapper .nav-tabs > li>div.same a {display: inline-block;height: 70px;line-height: 70px;color: #94defb;
    font-weight: 600;font-size: 24px;width: 70px;cursor:pointer;float: left;}
    .wrapper .nav-tabs > li>div.same a:hover{
    	transfrom:scale(1.1) ;
    	-webkit-transform:scale(1.1) ;
    	-moz-transform:scale(1.1);
    	-o-transform:scale(1.1);}
    .wrapper .nav-tabs > li>div.same span {display: inline-block;height: 70px;line-height: 70px;color: #94defb;font-weight: 600;font-size: 24px;margin-right: 3px;width: 100px;float: left;margin-left:7px;}
	.wrapper .nav-tabs > li>div.same a.plan{background:url(../images/3.1.png) no-repeat left center;}
	.wrapper .nav-tabs > li>div.same a.design{background:url(../images/3.2.png) no-repeat left center;}
	.wrapper .nav-tabs > li>div.same a.development{background:url(../images/3.3.1.png) no-repeat left center;}
	.wrapper .nav-tabs > li>div.same a.test{background:url(../images/3.4.png) no-repeat left center;}
	.wrapper .nav-tabs > li>div.same a.release{background:url(../images/3.5.png) no-repeat left center;color:transparent;}
	.wrapper .nav-tabs > li.last{width:100px;}
	.wrapper .nav-tabs > li > span.product {background: none;height: 50px;font-size: 16px;color: #323232;;border: 0;padding-left: 5px;line-height: 34px;cursor: pointer;width:187px;}
	.wrapper .nav-tabs > li.active > a,.wrapper .nav-tabs > li.active > a:focus,.wrapper .nav-tabs > li.active > a:hover {border-bottom:0;border:0;background:none;color:none;}
	.wrapper .nav-tabs > li>div.same a:hover{border:0;}
    .wrapper .nav-tabs > li>span.ac{color:#00a1df;}
    .wrapper .nav-tabs > li.active>span.product{  width: 100px;height: 25px;position: relative;}
    .wrapper .nav-tabs > li.active>span.product:before{position: absolute;top: 37px;width: 0;height: 0;left: 45%;margin-left: -10px;content: " ";border-bottom: 20px solid  #f2f2f2 ;border-left: 15px solid transparent ;border-right: 15px solid transparent ;
    }
	.wrapper .tab-content {width: 100%;margin-top:140px;background:#f2f2f2;border-radius:5px;padding-top:10px;
	}
	#plan .header,#design .header,#development .header,#test .header,#release .header{height: 50px;line-height: 50px;font-size: 20px;border-bottom: 1px solid #dbdbdb;padding-left: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.data{margin-top:15px;margin-left:40px;min-width:810px;}
	.data li{height:66px;border-left:1px solid #dbdbdb;}
	.data li div{height:66px;width:100%;}
	.data li div i{display: inline-block;  width: 16px; height: 16px; border-radius: 50%;background:#dbdbdb;float:left;margin-left:-8px;}
	.data li div span{display: inline-block;float:left;width:120px;text-align: center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	.data li div span.name{width:200px;margin-left:10px;;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	.data li div span.download{cursor: pointer;}
    .data li div span.dataClose{background:url(../images/close-bounced-default.png) no-repeat center;width:12px;height:12px;margin-top:4px;cursor: pointer;margin-left:45px;}
    .data li div span.dataClose:hover{background:url(../images/close-bounced-selected.png) no-repeat  center;}
	.data li:last-child{border-left:0;}
    .data li:first-child div i{background:#3d9bff;}


}

@media (max-width:768px){
	html body{width:100%;font-size:0.26rem;background:#fff;box-sizing: border-box;overflow-x: hidden;}
	
	.platform_content{width: 100%;padding-bottom:200px;}
	.container{padding-right: 15px;padding-left: 15px;margin-right: 0;margin-left: 0;}
    .content_one{width: 100%;margin-left: 0;margin-right: 0;margin: 0 auto;overflow: hidden;background:#f2f2f2;border-radius: 5px;}
    .truPC,.truAndroid{padding:0px;width:100%;margin:0 auto;}
    .truPC div.pcTitle{border-bottom: 1px solid #dbdbdb;height: 0.8rem;line-height: 1rem;background: url(../images/pc.png) no-repeat left 0.3rem;padding-left: 0.5rem;color: #333333;font-weight: 600;font-size: 18px;margin-left:0.1rem;}
    .truAndroid div.androidTitle{border-bottom: 1px solid #dbdbdb;height: 0.8rem;line-height: 1rem;background: url(../images/sj.png) no-repeat left 0.3rem;padding-left: 0.4rem;color: #333333;font-weight: 600;font-size: 18px;margin-left:0.1rem;}
    .pc_content,.android_content{width:100%;overflow: hidden;}
    .pc_content .pcBox,.android_content .androidBox{padding-left:0.1rem;width:90%px;overflow: hidden;}
    .pc_content .pcBox:first-child,.android_content .androidBox:first-child{margin-top:0.1rem;}
    .pc_content .pcBox div,.pc_content .pcBox ul,.android_content .androidBox div,.android_content .androidBox ul{float:left;}
    .pc_content .pcBox div,.android_content .androidBox div{width:1.5rem;font-size:16px;font-weight:600;color:#333;}
    .pc_content .pcBox ul,.android_content .androidBox ul{width:4.2rem;overflow: hidden;}
    .pc_content .pcBox ul li,.android_content .androidBox ul li{overflow: hidden;float:left;height:0.5rem;margin-bottom:0.1rem;}
    .pc_content .pcBox ul li span,.android_content .androidBox ul li span{float:left;display: inline-block;padding:0;color:#333;text-decoration: none;line-height: 0.4rem;cursor: pointer;}
    .pc_content .pcBox ul li span:hover,.android_content .androidBox ul li span:hover{color:#3d9bff;}
    .pc_content .pcBox ul li span.activeLink{color:#00a1df;}


	.wrapper{width: 100%;margin-left: 0;margin-right: 0;margin: 0 auto;overflow: hidden;padding-top:0.5rem;}
	.wrapper .nav{width:100%;float:left;height:1.2rem;}
	.wrapper .nav-tabs {border-bottom:0;
    width:100%;height:1.2rem;margin-top:0.2rem;box-sizing: border-box;}
	

	.wrapper .nav-tabs > li {float:left;height:120px;cursor: pointer;width:20%;height:100%;text-align: center;box-sizing: border-box;}
	.wrapper .nav-tabs > li>div.same {height: 0.8rem;color: #686868;
    font-weight: 600;width:100%;cursor:pointer;position: relative;}
	.wrapper .nav-tabs > li>div.same a {display: inline-block;height: 100%;color: #94defb;
    width: 0.6rem;cursor:pointer;position: absolute;left:0;right:0;margin:0 auto;}
    .wrapper .nav-tabs > li>div.same a:hover{
    	transfrom:scale(1.1) ;
    	-webkit-transform:scale(1.1) ;
    	-moz-transform:scale(1.1);
    	-o-transform:scale(1.1);}
    .wrapper .nav-tabs > li>div.same span {color:transparent;}
	.wrapper .nav-tabs > li>div.same a.plan{background:url(../images/c4.png) no-repeat center;}
	.wrapper .nav-tabs > li>div.same a.design{background:url(../images/c5.png) no-repeat center;}
	.wrapper .nav-tabs > li>div.same a.development{background:url(../images/c6.png) no-repeat center;}
	.wrapper .nav-tabs > li>div.same a.test{background:url(../images/c7.png) no-repeat center;}
	.wrapper .nav-tabs > li>div.same a.release{background:url(../images/c8.png) no-repeat center;}
	.wrapper .nav-tabs > li > span.product {font-size:0.24rem;display: inline-block;width: 100%;height: 0.4rem;position: relative;color: #323232;line-height: 0.4rem;}
	.wrapper .nav-tabs > li.active > a,.wrapper .nav-tabs > li.active > a:focus,.wrapper .nav-tabs > li.active > a:hover {border-bottom:0;border:0;background:none;color:none;}
	.wrapper .nav-tabs > li>div.same a:hover{border:0;}
    .wrapper .nav-tabs > li>span.ac{color:#00a1df;}
	.wrapper .nav-tabs > li.active>span.product{ font-size:0.24rem;display: inline-block;width: 100%;height: 0.4rem;position: relative;
	}
    .wrapper .nav-tabs > li.active>span.product:before{position: absolute;top: 0.61rem;width: 0;height: 0;left: 43%;margin-left: -10px;content: " ";border-bottom: 20px solid  #f2f2f2 ;border-left: 15px solid transparent ;border-right: 15px solid transparent ;
    }
	.wrapper .tab-content {width: 100%;margin-top: 1.8rem;background: #f2f2f2;border-radius: 5px;padding-top: 0.1rem;overflow: hidden;
	}
	#plan .header,#design .header,#development .header,#test .header,#release .header{height: 1rem;line-height: 1rem;font-size: 0.28rem;border-bottom: 1px solid #dbdbdb;padding-left: 0.35rem;color:#717171;font-weight:500;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.data{margin-top: 0.15rem;/* margin-left: 0.4rem; */width: 100%;}
	.data li{margin-left: 0.2rem;height: 1rem;border-left: 1px solid #dbdbdb;}
	.data li div{height: 1rem;width: 100%;}
	.data li div i{display: inline-block;width: 0.16rem;height: 0.16rem;border-radius: 50%;background: #dbdbdb;float: left;margin-left: -0.08rem;/* margin-top: 0.08rem;/* margin-top: 0.08rem; */}
	.data li div span{margin-top: -0.05rem;display: inline-block;float: left;width: 1.85rem;text-align: center;height: 0.5rem;
    }
	.data li div span.name{margin-top: -0.05rem; width: 3.5rem;margin-left: 0.09rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
    }
	.data li div span.time{width: 2rem;margin-left: 0;
    }
	.data li:last-child{border-left:0;}
    .data li:first-child div i{background:#3d9bff;}

}