/**
  * afterloe - cynomy_portal_server/tools/webTools/css/public.css
  *
  * Copyright(c) afterloe.
  * MIT Licensed
  *
  * Authors:
  *   afterloe <lm6289511@gmail.com> (https://github.com/afterloe)
  * Date:
  *   2017-3-3 14:33:44
  */
  .memberList > span.badge {cursor: pointer; margin: 0.1rem; }
  .card-text > span { margin: 0.1rem; cursor: pointer; }

  @media (min-width: 576px){
    .modal-dialog { max-width: 500px; margin: 80px auto; }
  }
