* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,ul li{list-style:none;}
a{text-decoration: none;}
input{border:0;}
@media (min-width:769px){
	.directory_content{background:#fff;min-width:1170px;padding-bottom:125px;}
	.content_one{height:40px;margin-top:14px;}
	.proposal{width:140px;height:40px;background:url(../../images/portal/1-default.png) no-repeat center;height:40px;cursor: pointer;margin-left:1025px;margin-top:15px;}
	.proposal:hover{background:url(../../images/portal/2-selected.png) no-repeat center;}

	
	.tab_process{margin-left:100px;margin-right:100px;width:940px;overflow: hidden;}
	.clear{width:100%;height:0;float:right;}
	.tab_process dl{height:120px;width:180px;float:left;margin-right:5px;}
	.tab_process dl:last-child dd{color:transparent;}
	.tab_process dl dt,.tab_process dl dd{float:left;}
	.tab_process dl dt{width:100px;text-align: center;}
	.tab_process dl dd{width:80px;height:120px;color: #94defb;font-weight: 600;font-size: 20px;line-height: 75px;}
	.tab_process dl dt a{display: inline-block;width:100%;height:80px;padding-top:10px;}
	.tab_process dl dt a:hover{transfrom:scale(1.1) ;-webkit-transform:scale(1.1) ;-moz-transform:scale(1.1);-o-transform:scale(1.1);}
	.tab_process dl dt span{display: inline-block;height:30px;font-size: 16px;color: #323232;cursor:pointer;line-height: 28px;width:100px;font-weight:500;}
	.tab_process dl dt:hover span{color:#00a1df}

	.tabIcon{background-image:url(../../images/portal/plan.png);background-position:center;background-repeat: no-repeat;}
	.tab_process dl.processActive dt span{color:#00a1df}



	.tab_content{margin-left:100px;margin-right:100px;width:940px;overflow: hidden;position: relative;}
	.dataBox{background:#f2f2f2;border-radius:5px;}
	.dataBox .header{height: 50px;line-height: 50px;font-size: 20px;border-bottom: 1px solid #dbdbdb;padding-left: 35px;}
    .upload{background:url(../../images/portal/upload.png) no-repeat center;display: inline-block;width:26px;height:24px;margin-left:575px;cursor:pointer;}
    .upload:hover{background:url(../../images/portal/upload1.png) no-repeat center;}
	.data{margin-top:15px;margin-left:40px;min-width:810px;}
	.data li{height:66px;border-left:1px solid #dbdbdb;}
	.data li div{height:66px;width:100%;}
	.data li div i{display: inline-block;  width: 16px; height: 16px; border-radius: 50%;background:#dbdbdb;float:left;margin-left:-8px;}
	.data li div span{display: inline-block;float:left;width:120px;text-align: center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	.data li div span.name{width:200px;margin-left:10px;;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	.data li div span.download{cursor: pointer;background:url(../../images/portal/down.png) no-repeat center;width:26px;height:24px;margin-top:-4px;cursor: pointer;margin-left:11px;}
    .data li div span.dataClose{background:url(../../images/portal/close-bounced-default.png) no-repeat center;width:12px;height:12px;margin-top:4px;cursor: pointer;margin-left:45px;}
    .data li div span.dataClose:hover{background:url(../../images/portal/close-bounced-selected.png) no-repeat  center;}
	.data li:last-child{border-left:0;}
    .data li:first-child div i{background:#3d9bff;}
    
    


}

@media (max-width:768px){
	html body{width:100%;font-size:0.26rem;background:#fff;box-sizing: border-box;overflow-x: hidden;}
    .popup{display: none;}
	.directory_content{width: 100%;padding-bottom:500px;}
	.container{padding-right: 15px;padding-left: 15px;margin-right: 0;margin-left: 0;}

	
	.proposal{display: none;}
	.tab_process{width: 100%;margin-left: 0;margin-right: 0;margin: 0 auto;overflow: hidden;padding-top:0.5rem;}
	.clear{width:100%;height:0;float:right;}
	.tab_process dl{height:1.2rem;width:20%;float:left;}
	.tab_process dl:last-child dd{color:transparent;}
	.tab_process dl dt,.tab_process dl dd{float:left;}
	.tab_process dl dt{width:100%;text-align: center;}
	.tab_process dl dd{width:0;height:100%;color: transparent;font-weight: 600;font-size: 0.2rem;line-height: 0.75rem;}
	.tab_process dl dt a{display: inline-block;width:100%;height:0.8rem;padding-top:0.1rem;}
	.tab_process dl dt a:hover{transfrom:scale(1.1) ;-webkit-transform:scale(1.1) ;-moz-transform:scale(1.1);-o-transform:scale(1.1);}
	.tab_process dl dt span{display: inline-block;height:0.3rem;font-size: 0.24rem;color: #323232;cursor:pointer;line-height: 0.28rem;width:100%;font-weight:500;}
	.tab_process dl dt:hover span{color:#00a1df}

	.tabIcon{background-image:url(../../images/portal/plan.png);background-position:center;background-repeat: no-repeat;background-size:contain;}
	.tab_process dl.processActive dt span{color:#00a1df}



	.tab_content{margin-left:0;margin-right:0;width:100%;overflow: hidden;position: relative;}
	.dataBox{background:#f2f2f2;border-radius:5px;}
	.dataBox .header{height: 0.5rem;line-height: 0.5rem;font-size: 0.26rem;border-bottom: 1px solid #dbdbdb;padding-left: 0.35rem;}
	.data{margin-top: 0.15rem;/* margin-left: 0.4rem; */width: 100%;}
	.data li{margin-left: 0.2rem;height: 1rem;border-left: 1px solid #dbdbdb;width:98%;}
	.data li div{height: 1rem;width: 100%;}
	.data li div i{display: inline-block;width: 0.16rem;height: 0.16rem;border-radius: 50%;background: #dbdbdb;float: left;margin-left: -0.08rem;/* margin-top: 0.08rem;/* margin-top: 0.08rem; */}
	.data li div span{margin-top: -0.05rem;display: inline-block;float: left;width: 1.85rem;text-align: center;height: 0.5rem;
    }
	.data li div span.name{margin-top: -0.05rem; width: 3.5rem;margin-left: 0.09rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
	.data li div span.time{width: 2rem;margin-left: 0;}
    .data li div span.dataClose{width: 0;
    0}
	.data li:last-child{border-left:0;}
    .data li:first-child div i{background:#3d9bff;}

}