/*首页中间内容区域样式*/

.structure {
    background-color: #ffffff;
}


.feedback{
   /*  position:absolute;
   right:0;
   top:1.5em;
   margin-left:-7em;
   width:7em;
   height:2em;
   background: url('../../images/portal/feedback.png') no-repeat center;
   cursor:pointer;
   background-size:contain; */
    position:absolute;
    right:0.5em;
    top:1.5em;
    margin-left:-7em;
    width:140px;
    height:40px;
    background: url('../../images/portal/feedback.png') no-repeat center;
    cursor:pointer;
    background-size:contain;
}
.feedback:hover{
   /*  position:absolute;
   right:0;
   top:1.5em;
   margin-left:-7em;
   width:7em;
   height:2em;
   background: url('../../images/portal/feedback.png') no-repeat center;
   cursor:pointer;
   background-size:contain; */
    
    background: url('../../images/portal/2-selected.png') no-repeat center;
    
}

.dir-menu {
    margin-bottom: 0;
    padding-top: 3.5em;
    padding-left: 0;
    padding-bottom: 3.5em;
    position:relative;
}

.dir-menu > li {
    /* list-style: none;
    display: -webkit-inline-box;
    width: 19.6em;
    height: 7.7em;
    margin: 0 2rem 0 5rem;
    cursor: pointer; */
    list-style: none;
    display: -webkit-inline-box;
    width: 19.6em;
    height: 7.7em;
    margin: 2rem 2rem 0 5rem;
    cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    .dir-menu >li.first{
        margin-left:4.5em;
    }
  .dir-menu > li {
      list-style: none;
      display: -webkit-inline-box;
      width: 20em;
      height: 7.1em;
      margin: 2rem 0.5rem 0 0rem;
      cursor: pointer;
  }
}

@media only screen and (max-width: 960px) {
  .dir-menu > li {
      list-style: none;
      display: -webkit-inline-box;
      width: 20em;
      height: 7.1em;
      margin: 1em 1em 0 4em;
      cursor: pointer;
  }
}

@media only screen and (max-width: 690px) {
    .dir-menu > li {
        list-style: none;
        display: -webkit-inline-box;
        width: 20em;
        height: 7.1em;
        margin: 1em 1em 0 5em;
        cursor: pointer;
    }
    .feedback{
       display: none;
    }
    .catalogShadow{
        
        margin-left:0;
        margin-right:0;
    }
    .table-responsive {

        margin-left:0;
        margin-right:0;
    }
}
.searchIcon{
    background: url(../../images/portal/searchIcon.png) center no-repeat;
}
.dir-product {
    background: url(../../images/portal/productCatalog.png) center no-repeat;
    background-size: cover;
}

.dir-platform {
    background: url(../../images/portal/plaformCatalog.png) center no-repeat;
    background-size: cover;
}

.dir-public {
    background: url(../../images/portal/publicCatalog.png) center no-repeat;
    background-size: cover;
}

.dir-product:hover,.dir-platform:hover,.dir-public:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.catalogShadow{
    height:2.5em;
    background-color: #ccc;
    position:relative;
    margin-left:15px;
    margin-right:15px;
}
.catalogMark{
    float:left;
    margin-top:-0.7em;
    height:1.4em;
    width:1.4em;
    background-color: #ccc;
    -ms-transform:rotate(135deg); /* IE 9 */
    -moz-transform:rotate(135deg); /* Firefox */
    -webkit-transform:rotate(135deg); /* Safari and Chrome */
    -o-transform:rotate(135deg); /* Opera */
    transform:rotate(135deg);
}
.save{
    display: none;
    position:absolute;
    right:0.5em;
    top:0.5em;
    width:2em;
    height:2em;
    cursor:pointer;
    background: url('../../images/portal/save.png') no-repeat center;
    background-size:contain;
}
.save:hover{
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}
.currentCataMark1{
    margin-left:16%;
}
.currentCataMark2{
    display: none;
    margin-left:46%;
}
.currentCataMark3{
    display: none;
    margin-left:76%;
}
@media screen and (max-width: 1199px) {
    .catalogMark >div{display:none;}
}
@media screen and (max-width: 767px) {
    .catalogShadow{
        height:1.5em;margin-left:0;margin-right:0;
    }
    .save{
        right:0.25em;
        top:0.25em;
        width:1em;
        height:1em;
    }
    .table-responsive {

        margin-left:0;
        margin-right:0;
    }
}

.table-responsive {
    overflow: hidden;
    padding-bottom:5em;
    margin-left:15px;
    margin-right:15px;
}
.platformName{
    background-color: #f6f6f6;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding:0;
}
.platformName>input{cursor: pointer;}
.platformName>input,.productInfo>input{background-color: transparent;border:none;outline: none;}
.table-responsive>.table>tbody>tr>.platformDetail{
    padding:0;
    border-right:solid 1px #ddd;
    border-left:solid 1px #ddd;
}
.productName{
    min-width: 50%;
    font-size: 14px;
    display: inline-block;
    cursor:pointer;
}
.platformName>.menu{
    position:absolute;
    z-index:1;
    top:10px;
    left:30px;
}
.menu>p{
    background-color: #fff;
    margin: 0;
    text-align: left;
    padding-top:0.2em;
    padding-bottom:0.2em;
    padding-left:0.3em;
    cursor: pointer;
    font-size: 0.8em;
    min-width: 5em;
}
.productLink{
    background: url('../../images/portal/productLink.png') no-repeat center;
    width:28px;
    height:12px;
    display: inline-block;
    cursor:pointer;
}
@media screen and (max-width: 420px) {
    .productName,.productLink{
        display: block;
        width:auto;
    }
}
.product{
    font-size: 0;
    border-bottom:solid 1px #ddd;
}
.platformDetail>.product:last-child{
    border-bottom:none;
}
.productStatus{
    border-left:solid 1px #ddd;
}
.productInfo,.productStatus{
    width:50%;
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    padding:8px;
}
.nav-tabs{border-bottom:none;}
@media screen and (max-width: 995px) {
    .productInfo,.productStatus{
        display: block;
        width:100%;
    }
    .productStatus{border-top:solid 1px #ddd;border-left:none;}
}
@media screen and (max-width: 649px) {
    .productName{width:100%;display: block;}
}
.icon,.line{
    display: inline-block;
    vertical-align: top;
}
.icon{
    width:30px;
    height:30px;
}
.line{
    color: #95defb;
    line-height: 30px;
    height:30px;
    font-size:15px;
}
.planStatus1>.icon{
    background: url('../../images/portal/productPlanStatus1.png') no-repeat center;
}
.designStatus1>.icon{
    background: url('../../images/portal/productDesignStatus1.png') no-repeat center;
}
.developStatus1>.icon{
    background: url('../../images/portal/productDevelopStatus1.png') no-repeat center;
}
.testStatus1>.icon{
    background: url('../../images/portal/productTestStatus1.png') no-repeat center;
}
.releaseStatus1>.icon{
    background: url('../../images/portal/productReleaseStatus1.png') no-repeat center;
}

.planStatus2>.icon{
    background: url('../../images/portal/productPlanStatus2.png') no-repeat center;
}
.designStatus2>.icon{
    background: url('../../images/portal/productDesignStatus2.png') no-repeat center;
}
.developStatus2>.icon{
    background: url('../../images/portal/productDevelopStatus2.png') no-repeat center;
}
.testStatus2>.icon{
    background: url('../../images/portal/productTestStatus2.png') no-repeat center;
}
.releaseStatus2>.icon{
    background: url('../../images/portal/productReleaseStatus2.png') no-repeat center;
}

.planStatus3>.icon{
    background: url('../../images/portal/productPlanStatus3.png') no-repeat center;
}
.designStatus3>.icon{
    background: url('../../images/portal/productDesignStatus3.png') no-repeat center;
}
.developStatus3>.icon{
    background: url('../../images/portal/productDevelopStatus3.png') no-repeat center;
}
.testStatus3>.icon{
    background: url('../../images/portal/productTestStatus3.png') no-repeat center;
}
.releaseStatus3>.icon{
    background: url('../../images/portal/productReleaseStatus3.png') no-repeat center;
}

.planStatus4>.icon{
    background: url('../../images/portal/productPlanStatus4.png') no-repeat center;
}
.designStatus4>.icon{
    background: url('../../images/portal/productDesignStatus4.png') no-repeat center;
}
.developStatus4>.icon{
    background: url('../../images/portal/productDevelopStatus4.png') no-repeat center;
}
.testStatus4>.icon{
    background: url('../../images/portal/productTestStatus4.png') no-repeat center;
}
.releaseStatus4>.icon{
    background: url('../../images/portal/productReleaseStatus4.png') no-repeat center;
}
.table>tbody>tr{border-bottom:solid 1px #ddd;}

@media screen and (max-width: 768px) {
    .platformName{
        cursor:default;
    }
    .table-responsive {
        padding-bottom: 0;
    }
    .platformEdit >.platformName>input,.platformEdit .productName,.platformEdit .linkURL,
    .productEdit .productName,.productEdit .linkURL{
        border:solid 1px #999;
    }
    .catalogShadow{
        margin-left:0;margin-right:0;
    }
    .table-responsive {

        margin-left:0;
        margin-right:0;
    }

}

/*可编辑样式*/
.platformEdit >.platformName>input,.platformEdit .productName,.platformEdit .linkURL,
.productSubEdit .productName,.productSubEdit .linkURL{
    border:solid 1px #999;
}
.productSubEdit .linkURL,.platformEdit .linkURL{display: inline-block;}
.linkURL{font-size: 14px;display: none;}
